* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  display: block;
  background: none;
  color: #303536;
  font-size: 1.125rem;
  padding: 1rem;
  width: 100%;
  border-radius: 1.875rem;
  border: 1px solid #aaaaaa;
}

input:focus {
  outline: none;
  color: #303536;
}

textarea {
  height: 11.25rem;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
}

.font-tinos {
  font-family: "Tinos", serif;
}

.underline {
  text-decoration: underline;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.display-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.warnings {
  display: none;
  font-size: 1rem;
}

.header {
  background-image: linear-gradient(white, black),
    url(./assets/Background-hero-section.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center --3.75rem;
  background-blend-mode: saturation;
  width: 100%;
  min-height: 50rem;
  color: #303536;
  padding: 5rem;
}

.header__logo {
  margin-bottom: 5rem;
}

.hero {
  width: 65%;
  max-width: 90rem;
}

.hero__title {
  font-size: clamp(1.8rem, 4vw, 2.625rem);
  line-height: clamp(2rem, 5vw, 2.85rem);
  font-weight: 700;
  margin-bottom: 6.25rem;
}

.hero__content__title {
  width: 90%;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0rem 0.625rem 0.625rem 0.625rem;
  border-bottom: 2px solid #303536;
}

.hero__content__link__container {
  justify-content: space-between;
  font-size: 2rem;
  line-height: 2.25rem;
  width: 90%;
  padding-inline: 0.625rem;
  margin-right: 5rem;
  border-bottom: 2px solid #303536;
  cursor: pointer;
}

.hero__content__link__container__content {
  width: 90%;
  padding-block: 1.25rem;
}

.advantages-section__container {
  padding: 4.7rem;
  gap: 1.875rem;
  flex-wrap: nowrap;
}

.advantages-section__icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 3.125rem;
}

.advantages-section__title {
  font-weight: 500;
  color: #1d1d1b;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.advantages-section__content {
  font-weight: 400;
  color: #848484;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

.about-us {
  background-color: #303536;
  color: #e7e5e4;
}

.about-us__container {
  padding: 5rem;
  gap: 2.5rem;
  flex-wrap: nowrap;
}

.about-us__title-container__title {
  font-weight: 700;
  font-size: clamp(2.65rem, 4vw, 4rem);
  line-height: clamp(2.85rem, 5vw, 4.375rem);
  padding-bottom: 0.625rem;
}

.about-us__title-container__subtitle {
  font-weight: 400;
  font-size: clamp(1.6rem, 4vw, 2rem);
  line-height: clamp(1.7rem, 5vw, 2.25rem);
}

.about-us__content-container {
  gap: 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.enterprises {
  background-color: #f7f7f7;
}

.enterprises__container {
  padding: 4.7rem 8% 0px 8%;
  align-items: center;
  justify-content: center;
}

.enterprises__content {
  padding-inline: 9.375rem;
  align-items: center;
}

.enterprises__title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #1d1d1b;
  padding-bottom: 5rem;
}

.enterprises__star {
  padding-bottom: 2rem;
}

.enterprises__paragraph {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.375rem;
  text-align: center;
  padding-bottom: 2rem;
}

.enterprises__review {
  text-align: center;
  padding-bottom: 5rem;
}

.enterprises__review__name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

.enterprises__review__position {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}

.enterprises__logo {
  width: 100%;
}

.enterprises__logo__img {
  width: 11rem;
  padding: 1rem;
}

.enterprises__logo__container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-block: 2.5rem;
  border-top: 2px solid #e7e7e7;
}

.form__container {
  padding: 4.7rem;
  gap: 1.5rem;
  flex-wrap: nowrap;
}

.form__header,
.form__content,
.about-us__title-container,
.about-us__content-container {
  width: 50%;
}

.form__subtitle {
  color: #f5333f;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 10%;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}

.form__title {
  color: #1d1d1b;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 500;
}

.form__content__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.form__label {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
}

.form__button {
  background: #1d1d1b;
  border: none;
  width: 45%;
  color: #ffffff;
  height: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  border-radius: 3.75rem;
  justify-content: space-evenly;
  align-items: center;
  min-width: 8.75rem;
}

.form__input {
  margin-top: 0.5rem;
}

.form__input__container--full-width {
  grid-column: span 2;
  width: 100%;
}

.form__input__container--checkbox {
  gap: 0.5rem;
}

.checkbox {
  width: 1.125rem;
  height: 1.125rem;
}

.form__button__arrow {
  height: 1.125rem;
}

.footer {
  background-color: #303536;
  color: #ffffff;
}

.footer__container {
  padding: 4.7rem 4.7rem 1rem 4.7rem;
  justify-content: center;
  align-items: center;
}

.footer__content {
  gap: 2.5rem;
  padding: 4.7rem;
  margin-bottom: 3.125rem;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.footer__content__card {
  gap: 1.25rem;
  padding-inline: 3.125rem;
  text-align: center;
}

.footer__content__card__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375rem;
}

.footer__content__card__content {
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 1rem;
  font-style: normal;
}

.footer__social-media {
  gap: 0.75rem;
  padding-bottom: 2rem;
}

.footer__privacy-policy {
  gap: 1.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3rem;
  flex-wrap: nowrap;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.review {
  width: 100%;
  flex: 0 0 auto;
  padding: 0 5%;
  text-align: center;
}

.slider__prev-button,
.slider__next-button {
  display: flex;
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: clamp(25px, 4vw, 50px);
  height: clamp(25px, 4vw, 50px);
  justify-content: center;
  align-items: center;
}

.slider__prev-button.material-symbols-outlined,
.slider__next-button.material-symbols-outlined {
  font-size: clamp(12px, 2vw, 24px);
}

.slider__prev-button {
  left: 0;
  padding-left: clamp(5px, 1vw, 10px);
}

.slider__next-button {
  right: 0;
  padding-left: 2px;
}

.slider-container:hover > .slider__prev-button,
.slider-container:hover > .slider__next-button {
  opacity: 100;
}

@media (max-width: 1280px) {
  .hero__content__link__container__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem;
    min-height: 40rem;
  }
  .form__header,
  .form__content,
  .about-us__title-container,
  .about-us__content-container,
  .hero {
    width: 100%;
  }
  .form__container,
  .advantages-section__container,
  .about-us__container {
    flex-wrap: wrap;
  }
  .hero {
    padding: 0;
  }
  .about-us__title-container__title {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .hero__content__link__container {
    font-size: 1.2rem;
  }
  .form__input__container {
    grid-column: span 2;
  }
  .footer__privacy-policy {
    flex-direction: column;
    gap: 2px;
    align-items: center;
  }
}
